[alias]
	st = status -s
	co = checkout
[user]
	name = jesserwight
	email = jessewright01@gmail.com
[core]
    editor = code-insiders --wait
[merge]
    tool = vscode-insiders
[mergetool "vscode-insiders"]
    cmd = code-insiders --wait $MERGED
[diff]
    tool = vscode-insiders
[difftool "vscode-insiders"]
    cmd = code-insiders --wait --diff $LOCAL $REMOTE
